<!DOCTYPE html>
<html lang="en">
    <!-- coding by helpme_coder -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./static/css/style.css">
    <title>Verify User</title>
 </head>
<body>  
    <div class="container">
       <div class="box">
        <div class="header">
            <p>Log In</p>
        </div>
        <form action="/validate" method="post">
        <div class="input-box">
            <label for="email">Enter OTP</label>
            <input type="number" name="otp" class="input-field" required>
            <i class="bx bx-envelope"></i>
        </div>
        <div class="input-box">
            <input type="submit" class="input-submit" value="Login">
        </div>
        {% if error %}
        <div style="color: red; display:flex; justify-content: center;"><b>{{ error }}</b></div>
        {% endif %}
        </div>
        </form>
       <div class="wrapper"></div>
    </div>
</body>
</html>