<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="static/css/rent_machine.css" />
    <script defer src="add_post.js"></script>
    <script
      src="https://kit.fontawesome.com/11007c58bc.js"
      crossorigin="anonymous"
    ></script>
    <title>Rent Machine</title>
  </head>
  <body>
    <section class="header">
      <div class="nav-bar">
        <div class="left-side">
          <div class="logo">
            <img
              style="width: 87px; height: 70px"
              src="static/images/main-logo.png"
              alt="Logo"
            />
          </div>
        </div>

        <div class="right-side">
          <ul id="nav-links">
            <li>
              <a href="index.html"><i class="fa fa-fw fa-home"></i>Home</a>
            </li>
            <li>
              <a href="cultivation.html"
                ><i class="fa fa-asl-interpreting"></i>Cultivation &amp;
                Protection</a
              >
            </li>
            <li>
              <a href="contactUs.html"
                ><i class="fa fa-fw fa-envelope"></i>Contact Us</a
              >
            </li>
          </ul>
        </div>

        <a href="index.html"
          ><button id="login"><i class="fa fa-fw fa-user"></i>Home</button></a
        >

        <button class="right-bar">
          <span class="bar"></span>
        </button>
      </div>

      <div class="mobile_nav">
        <ul id="mobile_nav_links">
          <li>
            <a href="index.html"><i class="fa fa-fw fa-home"></i>Home</a>
          </li>
          <li>
            <a href="cultivation.html"
              ><i class="fa fa-asl-interpreting"></i>Cultivation &amp;
              Protection</a
            >
          </li>
          <li>
            <a href="contactUs.html"
              ><i class="fa fa-fw fa-envelope"></i>Contact Us</a
            >
          </li>
        </ul>
        <a href="./index.html"
          ><button id="mobile_login">
            <i class="fa fa-fw fa-user"></i>Logout
          </button></a
        >

        <div class="mobile_footer">
          <p>Copyright&copy; 2024 AgZone. All Rights Reserved</p>
        </div>
      </div>
    </section>

    <div class="hero-image">
      <div class="rent-a-machine-text">
        <h1>Want to Buy a Machine?</h1>
      </div>
    </div>

    <!-- <section class="Add-Post">
      <button class="post_btn">Add Post</button>
    </section> -->

    <!--Products-->
    <section class="rent-box">
      <!--Garden Tractor-->
      <div class="boxes">
        <div class="hero_img">
          <img src="./static/images/garden-tractor.jpg" />
        </div>
        <div class="machine-name">
          <p>Garden Tractor</p>
        </div>
        <div class="price">
          <p>Starting From ₹1,50000</p>

          <!-- <div class="star1">☆</div>
          <div class="star1">☆</div>
          <div class="star1">☆</div>
          <div class="star1">☆</div>
          <div class="star1">☆</div> -->
        </div>
        <a href="http://localhost:3001/" style="text-decoration: none">
          <div class="rent">
            <button>See More</button>
          </div>
        </a>
      </div>

      <!--excavator-->
      <div class="boxes">
        <div class="hero_img">
          <img src="./static/images/excavator.jpg" />
        </div>
        <div class="machine-name">
          <p>Excavator</p>
        </div>
        <div class="price">
          <p>Starting From ₹1,50000</p>

          <!-- <div class="star1">☆</div>
          <div class="star1">☆</div>
          <div class="star1">☆</div>
          <div class="star1">☆</div>
          <div class="star1">☆</div> -->
        </div>
        <a href="http://localhost:3001/" style="text-decoration: none">
          <div class="rent">
            <button>See More</button>
          </div>
        </a>
      </div>

      <!--Mover-->
      <div class="boxes">
        <div class="hero_img">
          <img src="./static/images/mover.jpg" />
        </div>
        <div class="machine-name">
          <p>Mover</p>
        </div>
        <div class="price">
          <p>Starting From ₹1,50000</p>

          <!-- <div class="star1">☆</div>
          <div class="star1">☆</div>
          <div class="star1">☆</div>
          <div class="star1">☆</div>
          <div class="star1">☆</div> -->
        </div>
        <a href="http://localhost:3001/" style="text-decoration: none">
          <div class="rent">
            <button>See More</button>
          </div>
        </a>
      </div>

      <!--Dumb Truck-->
      <div class="boxes">
        <div class="hero_img">
          <img src="./static/images/dumb truck.jpg" />
        </div>
        <div class="machine-name">
          <p>Dumb Truck</p>
        </div>
        <div class="price">
          <p>Starting From ₹1,50000</p>

          <!-- <div class="star1">☆</div>
          <div class="star1">☆</div>
          <div class="star1">☆</div>
          <div class="star1">☆</div>
          <div class="star1">☆</div> -->
        </div>
        <a href="http://localhost:3001/" style="text-decoration: none">
          <div class="rent">
            <button>See More</button>
          </div>
        </a>
      </div>

      <!--Cement Mixer-->
      <div class="boxes">
        <div class="hero_img">
          <img src="./static/images/cement-mixer.jpg" />
        </div>
        <div class="machine-name">
          <p>Cement Mixer</p>
        </div>
        <div class="price">
          <p>Starting From ₹1,50000</p>

          <!-- <div class="star1">☆</div>
          <div class="star1">☆</div>
          <div class="star1">☆</div>
          <div class="star1">☆</div>
          <div class="star1">☆</div> -->
        </div>
        <a href="http://localhost:3001/" style="text-decoration: none">
          <div class="rent">
            <button>See More</button>
          </div>
        </a>
      </div>

      <!--Fork Lift-->
      <div class="boxes">
        <div class="hero_img">
          <img src="./static/images/fork-lift.jpg" />
        </div>
        <div class="machine-name">
          <p>Fork Lift</p>
        </div>
        <div class="price">
          <p>Starting From ₹1,50000</p>

          <!-- <div class="star1">☆</div>
          <div class="star1">☆</div>
          <div class="star1">☆</div>
          <div class="star1">☆</div>
          <div class="star1">☆</div> -->
        </div>
        <a href="http://localhost:3001/" style="text-decoration: none">
          <div class="rent">
            <button>See More</button>
          </div>
        </a>
      </div>

      <!--Earth Moving truck-->
      <div class="boxes">
        <div class="hero_img">
          <img src="./static/images/earth-moving-truck.jpg" />
        </div>
        <div class="machine-name">
          <p>Earth Moving</p>
        </div>
        <div class="price">
          <p>Starting From ₹1,50000</p>

          <!-- <div class="star1">☆</div>
          <div class="star1">☆</div>
          <div class="star1">☆</div>
          <div class="star1">☆</div>
          <div class="star1">☆</div> -->
        </div>
        <a href="http://localhost:3001/" style="text-decoration: none">
          <div class="rent">
            <button>See More</button>
          </div>
        </a>
      </div>

      <!--Utility Tractor-->
      <div class="boxes">
        <div class="hero_img">
          <img src="./static/images/utility-tractor.jpg" />
        </div>
        <div class="machine-name">
          <p>utility Tractor</p>
        </div>
        <div class="price">
          <p>Starting From ₹1,50000</p>

          <!-- <div class="star1">☆</div>
          <div class="star1">☆</div>
          <div class="star1">☆</div>
          <div class="star1">☆</div>
          <div class="star1">☆</div> -->
        </div>
        <a href="http://localhost:3001/" style="text-decoration: none">
          <div class="rent">
            <button>See More</button>
          </div>
        </a>
      </div>
    </section>

    <section class="footer">
      <div class="left-side-footer">
        <p>&copy;2024 All Rights Reserved the Team.</p>
      </div>
      <div class="right-side-footer">
        <p>
          Web Design and Development by<a href="index.html">Vission Makers</a>
        </p>
      </div>
    </section>
  </body>
</html>
